# Jupyter
jupyterlab
ipykernel
ipywidgets

# Core data science
numpy==1.26.4
pandas==2.2.3
scipy
scikit-learn
statsmodels
xgboost

# Visualization
matplotlib
seaborn
plotly

# Hyperparameter optimization
optuna

# Utilities
psycopg2-binary
